   <ul class = "beers-list">
    {{#each data}}
    <li><img src={{this.image_url}} height="200px"></li>
    <li><h3>{{this.name}}</h3></li>
    <li><h4 style="color:brown">{{this.tagline}}</h4></li>
    <li><p>{{this.description}}</p></li>
    {{/each}}
  </ul>
