<section style="height:max-content">
<div>
<img src = "/images/beer.png" class = "front-img"/>
</div>


<button type="button"><a href ="/beers">Check the Beers !</a></button>


<button type="button"><a href="/random-beer">Check a Random Beer !</a></button>

</section>