<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./stylesheets/style.css">
    </head>
    <body>
        <nav style = "background-color: #2081c3; height:60px; width:100vw">
            <div style="padding-top:20px">
            <a href="/" style="color:#f7f9f9; text-decoration:none; margin-left:50px" >Home</a>
            <a href="/beers" style="color:#f7f9f9; text-decoration:none; margin-left:15px">Beers</a>
            <a href="/random-beer" style="color:#f7f9f9; text-decoration:none; margin-left:15px">Random Beer</a>
            </div>
        </nav>
        {{{ body }}}
    </body>
    <footer>
        <p>Developed by Ironhack ;) </p>
    </footer>
</html>