<p>Hello world</p>
<div>
    <ul>
     {{#each data}}
    <li><img src={{this.image_url}} height="200px"></li>
    <li>{{this.name}}</li>
    <li>{{this.description}}</li>
    <li>{{this.tagline}}</li>
    {{/each}}
    </ul>
</div>